h1{
  color: blue;
  font-family: fantasy;
  font-size: 32px;
  background-color: red;
  text-align: center;
  }

h2{
    color: blue;
    font-family: fantasy;
    font-size: 2em;
    }

ol{
  color: #8cff1a;
  font-family: sans-serif;
  font-size: xx-large;
}



img{
  width: 200px;
  height: auto;
}
.lista{
  color: blue;
  font-family: sans-serif;
  font-size: 100px;
}

#tercer{
  color: #ffff33;
}
